<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="">
        <header>

        </header>
        <main>
            <div style="display: flex; flex-direction: row; justify-content: center;">
                <div class="" style="border-radius: 10px; width: 250px;">
                    <h1 class="">
                        Register
                    </h1>
                    <div class="error">
                        <% if( messages.registerBlank ){ %>
                            <p class="errortxt">
                                <%= messages.registerBlank %>
                            </p>
                        <% } %>
                    </div>
                <!--
                    FORM 1
                -->
                    <form action="/register" method="POST">

                        <div class="formLabelnput">
                            <label class="formLabel" style="display: block; padding-top: 10px;">
                                First Name
                            </label>
                            <input class="formInput" type="text" name="first_name" placeholder="Insert your First Name"/>
                            <div class="error">
                                <% if( messages.registerFname ){ %>
                                    <p class="errortxt">
                                        <%= messages.registerFname %>
                                    </p>
                                <% } %>
                            </div>
                        </div>


                        <div class="formLabelnput">
                            <label class="formLabel" style="display: block; padding-top: 10px;">
                                Last Name
                            </label>
                            <input class="formInput" type="text" name="last_name" placeholder="Insert your Last Name"/>
                            <div class="error">
                                <% if( messages.registerLname ){ %>
                                    <p class="errortxt">
                                        <%= messages.registerLname %>
                                    </p>
                                <% } %>
                            </div>
                        </div>


                        <div class="formLabelnput">
                            <label class="formLabel" style="display: block; padding-top: 10px;">
                                Email
                            </label>
                            <input class="formInput" type="text" name="email" placeholder="Insert your email"/>
                            <div class="error">
                                <% if( messages.registerEmail ){ %>
                                    <p class="errortxt">
                                        <%= messages.registerEmail %>
                                    </p>
                                <% } %>
                            </div>
                            <div class="error">
                                <% if( messages.registerEmail2 ){ %>
                                    <p class="errortxt">
                                        <%= messages.registerEmail2 %>
                                    </p>
                                <% } %>
                            </div>
                            <div class="error">
                                <% if( messages.registerEmail3 ){ %>
                                    <p class="errortxt">
                                        <%= messages.registerEmail3 %>
                                    </p>
                                <% } %>
                            </div>
                        </div>


                        <div class="formLabelnput">
                            <label class="formLabel" style="display: block; padding-top: 10px;">
                                Birthday
                            </label>
                            <input class="formInput" type="date" name="birthday" placeholder="Insert your email"/>
                            <div class="error">
                                <% if( messages.registerDate ){ %>
                                    <p class="errortxt">
                                        <%= messages.registerDate %>
                                    </p>
                                <% } %>
                            </div>
                        </div>


                        <div class="formLabelnput">
                            <label class="formLabel" style="display: block; padding-top: 10px;">
                                Password
                            </label>
                            <input class="formInput" type="password" name="password" placeholder="Insert your password"/>
                            <div class="error">
                                <% if( messages.registerPass ){ %>
                                    <p class="errortxt">
                                        <%= messages.registerPass %>
                                    </p>
                                <% } %>
                            </div>
                        </div>


                        <div class="formLabelnput">
                            <label class="formLabel" style="display: block; padding-top: 10px;">
                                Confirm Password
                            </label>
                            <input class="formInput" type="password" name="passwordReview" placeholder="Insert your password"/>
                            <div class="error">
                                <% if( messages.registerPass2 ){ %>
                                    <p class="errortxt">
                                        <%= messages.registerPass2 %>
                                    </p>
                                <% } %>
                            </div>
                        </div>
                        
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <button class="" type="submit" style="display: flex;">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
                <!--
                    MIDDLE
                -->
                <div class="" style="border-radius: 10px; width: 250px; justify-content: center; align-items: center; align-items: center;">
                    <h1 class="" style="text-align: center;">
                        Login
                    </h1>
                    <div class="error">
                        <% if( messages.loginBlank ){ %>
                            <p class="errortxt">
                                <%= messages.loginBlank %>
                            </p>
                        <% } %>
                        
                    </div>
                <!--
                    FORM 2
                -->
                    <form action="/login" method="POST">

                        <div class="formLabelnput">
                            <label class="formLabel" style="display: block; padding-top: 10px;">
                                Email
                            </label>
                            <input class="formInput" type="text" name="email" placeholder="Insert your email"/>
                            <div class="error">
                                <% if( messages.login1 ){ %>
                                    <p class="errortxt">
                                        <%= messages.login1 %>
                                    </p>
                                <% } %>
                                <div style="background-color: orangered; color: black; font-weight: bold; border-radius: 3px;" class="error">
                                    <% if( messages.emailBlank ){ %>
                                        <p class="errortxt">
                                            <%= messages.emailBlank %>
                                        </p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        
                        <div class="formLabelnput">
                            <label class="formLabel" style="display: block; padding-top: 10px;">
                                Password
                            </label>
                            <input class="formInput" type="password" name="user_password" placeholder="Insert your password"/>
                            <div class="error">
                                <% if( messages.login2 ){ %>
                                    <p class="errortxt">
                                        <%= messages.login2 %>
                                    </p>
                                <% } %>
                                <div style="background-color: orangered; color: black; font-weight: bold; border-radius: 3px;" class="error">
                                    <% if( messages.passwordBlank ){ %>
                                        <p class="errortxt">
                                            <%= messages.passwordBlank %>
                                        </p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <button class="" type="submit" style="display: flex;">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        
    </body>
</html>